@charset "UTF-8";

.alfa-slab-one-regular {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}


html {
	/* STEP 2: Set base font size */
	font-size: 120%;

	/* STEP 3: Set base line-height (leading) */
	line-height: 1.4;
	/* STEP 4: Set base font-family (font stack) */
    font-family: serif;
	background: #0c0808;
	/* STEP 10a: set the background image */
	
	/* Image credit: How much? by el patojo CC https://www.flickr.com/photos/elpatojo/250157893 */
	/* STEP 10b: set the background attachment */
	
	/* STEP 10c: set the background image size to cover the viewport */
	background-image: url("../images/how-much.jpg");
	background-attachment: fixed;
	background-size: cover;
	
}
/* STEP 5: Set font sizes according to a typographic scale (h1-h6 and p) */
h1 {
	font-size: 4.8rem;
	font-family: "Alfa Slab One", Impact, serif;
	color: goldenrod;
	/* STEP 7a: Set primary heading font - use "Alfa Slab One" from Google Fonts - place the appropriate @import at the top of this CSS file, then set the font-family to the same, with a fallback to "Rockwell" - then set font-weight to normal (we don't need to bold these fonts) */
	text-shadow: 0px 2px 1px rgb(255, 236, 127);
	/* ...try editing the CSS in the browser dev tools to see the fallback if the Google Font fails to load */
}
h2 {
	font-size:3.6;
	font-family: "Century Gothic", Futura, sans-serif;
	color: goldenrod;
	/* STEP 7b: Set subheading font to 'Century Gothic', with a fallback to Futura for Mac, then lastly to sans-serif */
	
}
h3 {
	font-size: 2.4rem;
	/* STEP 7c: Set tertiary heading font to the same as above, then transform all h3 elements to UPPERCASE, with no bottom margin */
	font-family: "Century Gothic", Futura, sans-serif;
	text-transform: uppercase;
	margin-bottom: 0;
	
}
h4 {
	font-size: 1.8rem;
	
}
h5 {
	font-size:1.4em
	
}
h6 {
	font-size: 1.2rem;
}
p {
	font-size: 1rem;
}
/* STEP 7d: Set font for p in header to the same as the h2 and the h3 elements, using a descendant (contextual) selector */
header p {
	font-family: "Century Gothic", Futura, sans-serif;
	font-size: 1.4rem;
	margin: 0;
	color: goldenrod;
}
/* STEP 9a: Reduce space between headings in page-level header H1 */
header h1 {
	margin: 0px;
}

/* STEP 8: Bump down subhead font size at top of article */
header h2 {
	font-size: 1.8rem;
	margin-top: 0px;
	/* STEP 9b: Reduce space between headings in page-level header H2 */
	
}
/* STEP 9c: Move h3 and p closer together in article sections */
section h3 {
	
	/* STEP 13: Visual hierarchy needs improvement - reduce font size */
	font-size:  2.4rem;
	margin-bottom:0;
}
section p {
	
	/* STEP 12a: Measure is 85+ - too long - bump up the font size */
	font-size: 1.2rem;
	/* STEP 12b: Play with the leading (line-height) - raise to 1.8, then reduce to 1.2 - discuss typographic color and vertical rhythm */
	line-height: 1.6;
	
	/* STEP 14a: Justification with text-align - left, right, center, justify */
	text-align: justify;
	/* STEP 14b: Hyphenation - change BODY width to 50% down below, then resize the window width in your browser to see the effect */
	height: auto;
	/* STEP 16a: Play with some non-standard CSS properties like text-rendering - this can enable things like ligatures - look at the combination of letters f and i */
	text-rendering: optimizeLegibility;
	/* STEP 16b: Change the font to Calibri, then watch the 'fi' and 'fl' combination render as a ligature - for some reason, 'ff' does not for this font */
	font-family: Calibri, sans-serif;
	/* https://developer.mozilla.org/en-US/docs/Web/CSS/text-rendering */
}
/* STEP 6: Basic layout - auto-centred single-column fixed width */
body {
	min-width: 420px;
	max-width: 760px;
	margin: 0 auto;
	padding:1rem 2rem;
	text-align: justify;
	/* STEP 14c: Change width of BODY to see how hyphenation works - then comment out */
	hyphens: auto;
	
	background: goldenrod;
}
header {
	background: #000000;
	/* STEP 11a: Add whitespace - very important */
	padding: 2rem 3rem;
	margin: 0;
	/* STEP 15: Inset text effect with text shadow */
	
}
section {
	/* STEP 11b: Add more whitespace */
	margin:auto 1rem 0;
	padding: 0;
	

}
footer {
	background: #333;
	color: #eee;
	/* STEP 11c. Add even more whitespace */
	padding: 2rem 3rem;
	text-align: center;
}
footer h3 {
	font-size: 1.4em;
}
footer p, footer small {
	font-family: "Century Gothic", Futura, sans-serif;
}

