*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body { 
    font-family: Arial, sans-serif; 
    background-color: #edefe8; 
    margin: 0; 
    padding: 0; 
    padding-bottom: 60px;
}

h1 { 
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    border-radius:20px;
    text-align: center;
    padding: 20px;
    font-family: "Permanent Marker", cursive;
    color: rgb(233, 97, 97);

}

h2 { 
    margin-top: 10px;
    border-radius: 30px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #000000;
    color: rgb(233, 97, 97);
    padding: 10px;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

p { 
  padding-left: 0;
  margin-left: 50px;
  margin-top: 10px;
  list-style-type: none;
  font-family: "Cormorant Garamond", serif;
  color: black;
  font-style: italic;

}
ul{
  padding-left: 0;
  margin-left: 50px;
  margin-top:  10px;
  list-style-type: none;
  font-family: "Cormorant Garamond", serif;
  color: black;
  font-style: italic;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #bfabab;
    color: white;
    text-align: center;
    padding: 10px 0;
}
