
#container{
  display: grid;
  grid-template-columns: 1fr 2fr; /* two equal columns */
  gap: 20px;                      /* spacing between blocks */
  padding: 20px;

}
.box1{
    background: #572b2b;
    padding: 20px;
    border-radius: 8px;
}
.box2{
    background: #cd8d8d;
    padding: 20px;
    border-radius: 8px;
}
.box3{
    background: #e90606;
    padding: 20px;
    border-radius: 8px;
}
.box4{
    background: #1a6937;
    padding: 20px;
    border-radius: 8px;
}
header > p{
    text-transform: uppercase;
    font-size: small;
}
header > h1{
    font-size: 3em;
    text-transform: lowercase;
    font-weight: 900;
}
header > h1 > em{
    font-weight: 900;
    color:hsl(0, 100%, 40%);
}


